@import "tailwindcss";
@import "tw-animate-css";
@config "../../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* scrollbar colors (light theme) */
  ::-webkit-scrollbar {
    background: #0f1724;
  }
  --scrollbar-track: #0f1724; /* slightly lighter than background */
  --scrollbar-thumb: #34d391; /* green-primary for contrast */
  --scrollbar-thumb-hover: #1fc16b; /* green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jakarta: var(--font-plus-jakarta);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* scrollbar colors (dark theme) */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, var(--font-jakarta);
}

@keyframes popIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-pop {
  animation: popIn 0.25s ease-out;
}

::-webkit-scrollbar {
  background: #0f1724;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f1724;
} /* slightly lighter than background */
::-webkit-scrollbar-thumb {
  background: #737391;
  border-radius: 5px;
} /* green-primary for contrast */
